.container-fluid{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://iili.io/2nYA67.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}
.navbar-brand{
    filter: brightness(600%);
    width: 120px;
    height: 50px;
}
.nav-item{
    padding: 10px 20px;
}
.nav-link{
    color: white;
}
.loginBtn{
    width: 120px;
    border-radius: 10px;
    background-color: #F9A51A;
}